<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Enrollee</title>

    <link rel="stylesheet" href="~/css/main.css"/>
    <link rel="stylesheet" href="~/css/modal.css"/>
    <link rel="stylesheet" href="~/css/slider.css"/>
    <!-- EXTERNAL LIBRARIES -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"/>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<header>
      <div class="header-logo">
        <img src="~/images/logo.png" alt="KhNEU logo" />
        <span
          >Харківський національний економічний університет імені Семена Кузнеця
          (ХНЕУ ім. С. Кузнеця)</span
        >
      </div>
      <div class="header-links">
        <ul>
          <li><a href="#studying">Навчання</a></li>
          <li><a href="#partnership">Партнерство</a></li>
          <li><a href="#contact-details">Контакти</a></li>
          <li>
            <a href="#callback-modal"
              ><i class="icon-phone"></i> Зателефонуйте мені</a
            >
          </li>
        </ul>
      </div>
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>

        <footer>
      <div class="footer-site-name">
        Іноформаційні <br />
        системи
      </div>
      <div class="footer-links">
        <a href="tel:+380577021831"
          ><i class="icon-phone"></i> +38 (057) 702-18-31</a
        >
        <a href="mailto:kafis@hneu.edu.ua"
          ><i class="icon-envelope"></i> kafis@hneu.edu.ua</a
        >
        <a href="https://www.instagram.com/kafis_hneu/"
          ><i class="icon-instagram"></i
        ></a>
        <a
          href="https://www.facebook.com/%D0%9A%D0%B0%D1%84%D0%B5%D0%B4%D1%80%D0%B0-%D1%96%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D1%96%D0%B9%D0%BD%D0%B8%D1%85-%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC-%D0%A5%D0%9D%D0%95%D0%A3-%D1%96%D0%BC-%D0%A1-%D0%9A%D1%83%D0%B7%D0%BD%D0%B5%D1%86%D1%8F-105009494937218/"
          ><i class="icon-facebook-sign"></i
        ></a>
      </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
