@{
    ViewData["Title"] = "Home Page";
}
@model Enrollee.Models.Feedback

<div class="studying" id="studying">
<h1>Начання</h1>
<figure class="text-center">
      <blockquote class="blockquote">
        <p>ХНЕУ війшов у тридцятку кращих вишів для IT-галузі</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        За даними <cite title="Source Title">dou.ua</cite>
      </figcaption>
    </figure>
<p>
    Сфера IT є найбільш динамічним сектором світової економіки. Сучасне
    життя неможливо уявити без використання IT-технологій. Саме тому попит
    на фахівців в цій сфері постійно зростає. Отримання IT освіти гарантує
    кожному випускнику працевлаштування та високий дохід. Факультет
    інформаційних технологій Харківського національного економічного
    університету імені Семена Кузнеця вже більше 55 років готує найкращих
    фахівців в галузі IT. Висока якість підготовки фахівців на факультеті
    інформаційних технологій підтверджується результатами опитувань та
    незалежними рейтингами
    <a href="https://dou.ua/lenta/articles/ukrainian-universities-2018/"
    >https://dou.ua/lenta/articles/ukrainian-universities-2018/</a
    >
</p>
<br>

      <h3>Наші переваги</h3>
      <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img src="~/images/Advantages/One.JPEG" class="card-img-top" alt="переваги">
          <div class="card-body">
            <p class="card-text">Співробітництво із закордонними університетами та можливість
          отримання подвійних дипломів (Спільна франко-українська магістерська
          програма МВА «Бізнес-інформатика», спільна словацько-українська
          магістерська програма МВА «Бізнес-аналітика та інформаційні системи
          в підприємництві»).</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="~/images/Advantages/Two.JPEG" class="card-img-top" alt="переваги">
          <div class="card-body">
            <p class="card-text">Безперервна підготовка з іноземних мов (з можливістю вивчення другої
          іноземної мови). У 2018 році відкрито групи, в яких студенти мають можливість
          навчатися повністю англійською мовою за освітніми програмами
          “Комп’ютерні науки” та “Інженерія програмного забезпечення”.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="~/images/Advantages/Three.JPEG" class="card-img-top" alt="переваги">
          <div class="card-body">
            <p class="card-text">Співпраця з провідними IT-компаніями, які надають додаткові
          навчальні програми, майстер-класи, можливість працевлаштування
          випускників факультету: Microsoft (в рамках Microsoft IT Academy),
          CISCO, EPAM Systems, NIX Solutions, DataArt, SIGMA Ukraine, ERCIS,
          САЙФЕР, Stella Systems, NEAM International, Business Studio,
          Globallogic, IT Ukraine та інші.</p>
          </div>
        </div>
      </div>
    </div>

<div id="slider">
    <figure>
    <img src="austin-fireworks.jpg" alt />
    <img src="taj-mahal_copy.jpg" alt />
    <img src="ibiza.jpg" alt />
    <img src="ankor-wat.jpg" alt />
    <img src="austin-fireworks.jpg" alt />
    </figure>
</div>
</div>
<div class="partnership" id="partnership">
<h1>Партнерство</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
    reprehenderit maiores id rem sunt animi, architecto ratione voluptatum
    vel quibusdam tenetur. Rem exercitationem nobis tempora. Dolorem,
    incidunt adipisci. Temporibus, delectus!
</p>
<div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
    <div class="gallery-cell">
    <img src="~/images/partners/1.PNG" alt="partners first list" />
    </div>
    <div class="gallery-cell">
    <img src="~/images/partners/2.PNG" alt="partners second list" />
    </div>
    <div class="gallery-cell">
    <img src="~/images/partners/3.PNG" alt="partners third list" />
    </div>
</div>
</div>
<div class="contact-details" id="contact-details">
<h1>Контакти факультету Інформаційних технологій</h1>
<p>Рік заснування – 1961</p>
<p>61166, Україна, м. Харків, пр-т Науки 9а,</p>
<p>ХНЕУ ім. С. Кузнеця, Головний корпус, ауд. 420.</p>
<p>Тел. +38 (057) 702-18-31</p>
<p>Сайт: www.it.hneu.edu.ua/</p>
<p>Facebook: : www.facebook.com/ithneu/</p>
<p>E-mail: dekei@hneu.edu.ua</p>
<p style="text-align: center; margin: 10px">
    Або <a href="#callback-modal">залиште свої контактні дані</a> і ми
    обов'язково зв'яжемося з Вами
</p>
</div>


    <div id="callback-modal" class="modal-window">
      <div>
        <a href="#" title="Close" class="modal-close">Закрити</a>
        <h1>Як можна з Вами зв'язатися?</h1>
        @using (Html.BeginForm("SendRequest", "Home", HttpMethod.Post)){
          <label>
            Ваше ім'я:
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { name = "name", placeholder = "Name"}})
          </label>
          <br />
          <label>
            Телефон/Пошта/Telegram:
            @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { name = "contactLink", placeholder = "Contact"}})
          </label>
          <br />
          <label>
            Питання:
            <br />
            @Html.TextAreaFor(model => model.Question, new { htmlAttributes = new { name = "message", placeholder = "Message"}})
          </label>
          <br />
          <input type="submit" />
        }
      </div>
    </div>